$red: #bf310b;

//base layout start
#app {
  display: flex;
  aside {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 2;
  }
}

@media (min-width: 600px) {
  aside {
    height: 85vh;
  }
  main {
    height: 85vh;
  }
}

@media (max-width: 600px) {
  #app {
    display: block;
  }
  aside {
    width: 100vw;
  }
  main {
    width: 85vw;
    height: 300px;
    margin: 0;
  }
  #canvas {
    width: 85%;
    margin-left: 0;
    margin-top: 20px;
  }
  .nomobile {
    display: none;
  }
}
//base layout end

.spacing {
  margin-top: 20px;
}

.load {
  margin: 15px 0;
}

.fail {
  margin: 15px 0;
}

img {
  max-width: 400px;
  max-height: 600px;
  width: 90%;
  border: 1px solid #777;
  margin: 15px 0;
}

.arrow {
  margin-left: 2px;
  path {
    fill: #fec802;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  margin: 4px 10px;
  display: inline-block;
  transition: 0.3s all ease-out;
}

.inputfile:focus + label circle,
.inputfile + label circle:hover {
  fill: #f14619;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  pointer-events: none;
}

//main

main {
  padding: 20px 15vw;
  background: #333;
  margin: 20px;
  height: 85vh;
  div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

main p {
  width: 70%;
  font-size: 18px;
  text-align: center;
}

.upload {
  display: flex;
}

//utility

.nobottom {
  margin-bottom: 0;
}

.bottom10 {
  margin-bottom: 10px;
}

.select {
  margin: 10px 0 18px;
  font-weight: 300;
}

.fade-enter-active {
  transition: opacity 0.35s ease-out;
}

.fade-leave-active {
  transition: opacity 0.2s ease-in;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.status {
  text-transform: capitalize;
  font-size: 16px;
}
