<div id="app">
  <aside>
    <h1 class="nobottom">Dynamically Generated Alt Text<br>
      <span>With Google Cloud Vision API</span>
    </h1>
    <hr>

    <section *ngIf="!home.noText2">
      <div *ngIf="!home.desc; else remove">
        <section class="upload spacing">
          <h2 class="select" ref="selectimg">Select an image here: </h2>
          <input (ngModelChange)="fileUpload($event)" type="file" name="file" id="file" class="inputfile" />
          <app-plusicon></app-plusicon>
        </section>
        <!--upload-->

        <section class="spacing">
          <label for="url" style="padding-right: 10px;">Or enter a url:</label>
          <input (keyup.enter)="visionReq()" type="text" id="url" />
        </section>

        <section class="spacing">
          <!-- older version <input type="text" id="url" [(ngModel)]="home.image" #ctrl="ngModel" (keyup.enter)="visionReq()" /> -->
          <p><button class="useone" (click)="useMine()">Or use one of mine ></button></p>
          <p *ngIf="home.image.length > 0" class="load">Loading
          <app-loading></app-loading>
          </p>
        </section>
      </div>

      <ng-template #remove>
        <button (click)="removeImage($event)">Try it again!</button>
      </ng-template>
    </section>

    <section *ngIf="home.noText && home.noText2" class="fail">
      <p>Nothing was detected!<br> Sorry about that, care to...</p>
      <button (click)="removeImage($event)">Try again!</button>
    </section>

    <hr>

    <div (click)="home.moreInfo = !home.moreInfo" class="more">
      <button class="more" *ngIf="!home.moreInfo; else less">More info...</button>
      <ng-template #less><button class="more">Less info</button></ng-template>
    </div>
    <p *ngIf="home.moreInfo">User generated content doesn't always have alt text. Hopefully this allows good alt text to be
      a bit more ubiquitous.</p>
  </aside>

  <main>
    <div *ngIf="home.desc">
      <h3>Alt text:</h3>
      <p role="status"><span class="screen-reader-only">Generated alt text:</span> text here</p>
      <img [src]="home.image" [alt]="home.altText" />
    </div>
  </main>

</div>