<div id="app">
  <aside>
    <h1 class="nobottom">Dynamically Generated Alt Text<br>
      <span>With Google Cloud Vision API</span>
    </h1>
    <hr>

    <section *ngIf="!home.noText2">
      <div *ngIf="!home.altText; else remove">
        <section class="upload spacing">
          <h2 class="select" ref="selectimg">Select an image here: </h2>
          <input (ngModelChange)="fileUpload($event)" type="file" name="file" id="file" class="inputfile" />
          <label for="file" aria-label="upload image" class="plus">
            <app-plusicon></app-plusicon>
          </label>
        </section>
        <!--upload-->

        <section class="spacing">
          <label for="url" style="padding-right: 10px;">Or enter a url:</label>
          <input [(ngModel)]="home.image" (keyup.enter)="visionReq()" type="text" id="url" />
        </section>

        <section class="spacing">
          <p><button class="useone" (click)="useMine()">Or use one of mine ></button></p>
          <p *ngIf="home.image.length > 0" class="load">Loading
          <app-loading></app-loading>
          </p>
        </section>
      </div>

      <ng-template #remove>
        <button (click)="removeImage($event)">Try it again!</button>
      </ng-template>
    </section>

    <section *ngIf="home.noText && home.noText2" class="fail">
      <p>Nothing was detected!<br> Sorry about that, care to...</p>
      <button (click)="removeImage($event)">Try again!</button>
    </section>

    <app-info></app-info>
  </aside>

  <main>
    <div *ngIf="home.altText">
      <h3>Alt text:</h3>
      <p role="status"><span class="screen-reader-only">Generated alt text:</span> {{ home.altText }}</p>
      <img [src]="home.image" [alt]="home.altText" />
    </div>
  </main>

</div>